<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <title> Suggest Table </title>
</head>

<body>

    <table>
        <thead>
            <tr>
                <th>Index</th>
                <th>キー</th>
                <th>値</th>
                <th>削除</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: rows">
            <tr>
                <td data-bind="text: $index"></td>
                <td><input data-bind="value: key"></td>
                <td><input data-bind="value: val"></td>
                <td><a href="#" data-bind="click: $parent.removeRow">削除</a></td>
            </tr>            
        </tbody>
    </table>

    <button data-bind="click: addRow">追加</button>

</body>

</html>